##### Note: This workbook consists of only the code part of Python tutorial from w3schools.com
##### URL: https://www.w3schools.com/python/default.asp

# 1. Python Intro

In [3]:
# First Python code
print("Hello, World!")

Hello, World!

# 2. Python Getting Started

In [6]:
! python --version

Python 3.12.7

In [8]:
# To check the Python version of the editor
import sys

print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

# 3. Python Indentation

In [11]:
if 5 > 2: # when clicked enter after this line, code automatically incorporated indentation for the next line
    print("Five is greater than two!")

Five is greater than two!

In [13]:
if 5 > 2:
print("Five is greater than two!") # this will result in error

IndentationError: expected an indented block after 'if' statement on line 1 (1389095115.py, line 2)

In [15]:
if 5 > 2:
# The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.
 print("Five is greater than two!")

Five is greater than two!

In [17]:
# same number of spaces should be used under one block.
if 5 > 2:
    print("Five is greater than two!")
        print("Bye!") # Extra spaces result in an error. Same is the case if the number of spaces is less compared to previous statement

IndentationError: unexpected indent (3495298231.py, line 4)

# 4. Python Comments

In [20]:
# "#" is used at the beginning for a single line comments
# """ """ three quotation marks are used for multi-line comments
# This is the comment
"""
This is a multi-line comment
Any number of lines of comments can be inserted within these three quotation marks
"""
print("Hello, World!")

Hello, World!

In [21]:
# Everything on the line after "#" is ingnored by python
# including any code
# print("Hello, World!")
print("Bye!")

Bye!

# 4. Python Variables

In [23]:
# Assigning value to the variable is easy. Use the assignment operatior "=". 
# Type of variable is automatically assigned by Python based on value
x = 5
y = "Hi"
print(x)
print(y)

5
Hi

In [24]:
# Variables can be reassigned a different value which can be of different type, after defining differently at first
x = 5
x = "Five"

print(x) # Variable takes the value from latest definition

Five

In [25]:
# Variable can be defined with a specific data type by casting
x = int(5)
y = str(5)
z = float(5)

print(x)
print(y)
print(z)

5
5
5.0

In [26]:
# Variable type can be printed
x = 5
y = 'John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [27]:
# String variables can be defined by using single quotes and double quotes
x = "Viva"
y = 'John'

print(x)
print(y)

Viva
John

In [28]:
# Variable names are case-sensitive
a = 4
A = "Viva"

print(a)
print(A)

4
Viva

### 4a. Variable Names

In [30]:
# Below mentioned list are all valid variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [31]:
# Below mentioned are not valid
2myvar = "John" # Variable names cannot start with a numeric
my-var = "John" # Variable names cannot have any special symbols other than _
my var = "John" # Variable names cannot have spece in between

SyntaxError: invalid decimal literal (3612090013.py, line 2)

In [32]:
# Multi words Variable Names
# camelCase - Each word, except the first, starts with a capital letter
myVariableName = "John"
# PascalCase - Each word starts with a capital letter
MyVariableName = "John"
# Snake_Case - Each word is separated by an underscore character
my_variable_name = "John"

### 4b. Assign Multiple Values

In [34]:
x, y, z = "X", "Y", "Z" # Multiple values can be assigned, separated by comma
print(x)
print(y)
print(z)

X
Y
Z

In [35]:
# Same value can be assigned multiple variables in one go
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [36]:
# A list or a tuple can be unpacked
fruits = ["Orange", "Grape", "Apple"]
x, y, z = fruits
print(x)
print(y)
print(z)

Orange
Grape
Apple

### 4c. Output Variables

In [38]:
# The Python print() function is often used to output variables
x = "Python is awesome"
print(x)

Python is awesome

In [39]:
# In the print() function, you output multiple variables, separated by a comma
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [40]:
# + operator can be used to output multiple variables
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [41]:
x = 5
y = 10
print(x + y) # Output can be printed directly without assigning it to the variable

15

In [42]:
x = 5
y = "John"
print(x + y) # When try to combine int and str in print statement, it gives an error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 5
y = "John"
print(x, y) # To print variables of different types, it should be separated by ','

In [ ]:
# '+' operator concatenates two string statements
x = "Hello "
y = "World!"

print(x + y)

### 4d. Global Variables

In [ ]:
x = "Awesome" # This is a global variable, and can be used within the function

def myfun():
    print("Python is " + x)

myfun()

In [ ]:
x = "Awesome"

def myfun():
    x = "Fantastic"
    print("Python is " + x) # here the local variable definition will be used

print("Python is " + x) # here the global variable definition will be used
myfun()

In [ ]:
def myfun():
    global x # Global keyword makes this a global variable
    x = "Fantastic"

myfun()

print("Python is " + x)

In [ ]:
# GLobal keyword can be used inside the function to change the variable already defined
x = "Awesome"

def myfun():
    global x
    x = "Fantastic"

myfun()

print("Python is " + x)

# 5. Python Data Types

In [ ]:
# data type can be identified by using type() function
x = 5
print(type(x))

In [ ]:
# In Python, the data type is set when you assign a value to a variable
a = "Hello WOrld!"
b = 20
c = 20.5
d = True
e = None
f = ["x", "y", "z"]
g = ("x", "y", "z")
h = range(6)
i = {"x", "y", "z"}
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
# there are some other types in Python

In [ ]:
# A variable can be assigned a data type while defining
a = str("Hello World!")
b = int(20)
c = float(20.5)
d = bool(True)

# 6. Python Numbers

In [ ]:
#There are three numeric types in Python: int, float, complex
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

In [ ]:
# Int could be positive r negative - could be of any length
x = 1
y = 32456367
z = -45
print(type(x))
print(type(y))
print(type(z))

In [ ]:
# Float is a floating point number with one or more decimals
# Float can also be scientific number to include exponential symbo 'e'
x = 2.5
y = 10.3456
z = -12.39
w = 8.7e10

print(type(x))
print(type(y))
print(type(z))
print(type(w))

In [ ]:
# Complex number is written with a 'j' for imaginary part
x = 1j
y = -2j
z = 12 + 3j

print(type(x))
print(type(y))
print(type(z))

In [ ]:
# Type of a number can be converted to other using int(), float(), complex() methods

x = 5
y = 6.7 
z = 10j

a = float(x)
b = complex(y)
c = int(x)

print(a)
print(b)
print(c)

# Complex numbers cannot be converted to other types

In [ ]:
# Python does not have a random() function. But, have a built-in module called random()

import random

print(random.randrange(1, 10))

# 7. Python Casting

In [ ]:
# When it is necessary to specify the type of variable while defining, casting is used
x = int(5.5)
y = float('3')
z = str(4.8)

print(x, type(x))
print(y, type(y))
print(z, type(z))

# 8. Python Strings

In [ ]:
# Strings in python are surrounded by either single quotation marks, or double quotation marks
print("Hello")
print('Hello')

In [ ]:
# Quotes inside quotes can be used as lng as they are not matched with outer quotes
print("Hi to the 'World'!")
print('"Viva" is her name')

In [ ]:
# A string value can be assigned to variable
a = "Hello"
print(a)

In [ ]:
# Three double quotes can be used to assigned a multiple line string to a variable
a = """This is Viva.
I am learning Python
I want to be an expert at using Python."""
print(a)

In [ ]:
# Three single quotes can also be used for the same purpose
a = '''Viva is an aspiring entrepreneur.
She wants to built a multi-million dollar business empire.'''

print(a)

In [ ]:
# Strings are arrays
a = "Hello, World!"
print(a[1])

In [ ]:
# As string is an array, it can be looped through
for i in "Hello, World!":
    print(i)

In [ ]:
# len function to find the length of a string
a = "Viva"

print(len(a))

In [ ]:
# to check if a word or character present in the string
a = "Viva is the best!"

print("best" in a)

In [ ]:
# Print only if that word or character is present
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

In [ ]:
# to check if a word or character is not present in the string
a = "Childhood is a boon. It is beautiful"
print("fine" not in a)

In [ ]:
# Print only if a word or character is not present
a = "Childhood is a boon. It is beautiful"
if "fine" not in a:
    print("No, 'fine' not in a")

### 9a. Slicing Strings

In [ ]:
b = "Hello, World!"
# to get the list of characters starting from the index 2 till index 4
print(b[2:5])

In [ ]:
b = "Hello, World!"
# to getthe listof characters from beginning till index 4
print(b[:5])

In [ ]:
b = "Hello, World!"
# to get characters from index 2 till the end
print(b[2:])

In [ ]:
# Negative indexing: -1 refers to the first letter from backward and it goes on like -1, -2, -3...
b = "Hello, World!"
# below print statement prints the characters 5th character from last till the 3rd character from last
print(b[-5:-2])

### 9b. Modify Strings

In [ ]:
a = "Viva Nerla"
# use the function upper() to convert the string all uppercase
print(a.upper())

In [ ]:
# similarly, lower() can be used to convert the string all lowercase
a = "Viva Nerla"
print(a.lower())

In [ ]:
# strip() can be used to cut the whitespaces at the beginning and ending of a string
# alternatively, lstrip() and rstrip() are used to remove whitespaces from left and right of a string respectively
a = "   Viva Nerla  "
print(a.strip())
print(a.lstrip())
print(a.rstrip())

In [ ]:
# replace() method replaces a string with another string()
a = "Viva Nerla"
print(a.replace("V", "D"))

In [ ]:
# split() can be used to split a string
a = "Viva Nerla"
print(a.split())
# By default, separater is considered as whitespace. These can be specified otherwise
# a = "Hello, World!"
# pring(s.split(","))

### 9c. String Concatenation

In [ ]:
# '+' operator can be used to concatenate string in python
a = "Hello"
b = "World"
c = a + b
print(c)

In [ ]:
# Spaces too can be added using '+'
a = "Hello"
b = "World"
c = a + " " + b
print(c)

### 9d. Format Strings

In [ ]:
# String and numbers cannot be combined using '+'
age = 36
txt = "My name is John, I am " + age
print(txt)

In [ ]:
# format strings can be used to combine strings and numbers
age = 36
txt = f"My name is John, I am {age}"
print(txt)

In [ ]:
# A placeholder can contain variables, operations, functions, and modifiers to format the value
price = 59
txt = f"The price is {price} dollars"
print(txt)

In [ ]:
price = 59
txt = f"The price is {price:.2f} dollars" # this is a modifier to help format the output to required floating point values
print(txt)

In [ ]:
txt = f"The price is {20*6} dollars" # this includes a math operator
print(txt)

### 9e. Escape Characters

In [ ]:
txt = "We are the so-called "Vikings" from the north."
# above syntax is invalid as there are double quotes within double quotes
print(txt)

In [ ]:
# above error can be fixed using an escape character '\'
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

In [ ]:
# Different other escape characters
print("I\'m Viva") # single quote
print("We are going out to fish \\ We will be back by evening") # backslash
print("Let us have fun\nPlay till dusk") # new line
print("Tryin to know what this does\rHappy") # carriage return
print(" \bLet\'s test this") # backspace
print("this and \t that") # tab
print("\110\123\145\167") # octal value
print("\x48\x65\x6c\x6c\x6f") # hex value

### 9f. String Methods

In [43]:
a = "viva nerla"
print(a.capitalize()) # capitalize() capitalizes the first letter of the string

Viva nerla

In [44]:
a = "April Fool"
print(a.casefold()) # casefold() converts the string into lowercase

april fool

In [45]:
a = "Visali Devi Nerla"
print(a.center(30)) # returns the centered of the string based on the number of spaces provided

      Visali Devi Nerla

In [46]:
a = "Fin Fan Fine Fin"
print(a.count("Fin")) # returns the number of times a specified value occured

3

In [47]:
a = "happy"
print(a.encode()) # Returns an encoded version of the string

b'happy'

In [48]:
a = "Viva"

print(a.endswith("a")) # retuens True if the string ends with the specified value

True

In [49]:
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2) # sets thetab size

print(x)

H e l l o

In [50]:
a = "Happy World!"
a.find("!") # finds the position of the specified value

11

In [51]:
a = "Viva"
b = "Nerla"

print("{0}\'s second name is {1}".format(a, b)) # formats specified values in a string

Viva's second name is Nerla

In [52]:
txt = "Hello, welcome to my world."

x = txt.index("welcome") # returns the position of the specified value

print(x)

7

In [53]:
"""
Note: find() and index() are used to locate the position of a substring within a string.
But, the major difference between find() and index() methods in Python is how they handle cases when the substring is not found. 
The find() method returns -1 in such cases, while index() method raises a ValueError.
"""

'\nNote: find() and index() are used to locate the position of a substring within a string.\nBut, the major difference between find() and index() methods in Python is how they handle cases when the substring is not found. \nThe find() method returns -1 in such cases, while index() method raises a ValueError.\n'

In [54]:
a = "Welcome123"
print(a.isalnum()) # returns True if all the characters of string are alphanumeric

True

In [56]:
a = "Welcome123"
print(a.isalpha()) # returns True of all the characters of string are alphabets

False

In [57]:
a = "Welcome123"
print(a.isascii()) # returns True of all the characters of string are ascii characters

True

In [58]:
a = "123"
print(a.isdecimal()) # returns True of all the characters of string are decimals (0 - 9)

True

In [60]:
a = "123456"
print(a.isdigit()) # returns True of all the characters of string are digits

True

In [61]:
a = "if"
print(a.isidentifier()) # returns True if the string is an identifier

True

In [62]:
a = "Viva Nerla"
print(a.islower()) # returns True if all the characters of the string are lowercase

False

In [64]:
a = "123.456"
print(a.isnumeric()) # returns True if all the characters of the string are numbers

False

In [65]:
"""
isdecimal(): Strictly checks for decimal digits (0-9).
isdigit(): Checks for digits, including those from other number systems.
isnumeric(): Checks for numeric characters, including digits, fractions, and numerals.
"""

'\nisdecimal(): Strictly checks for decimal digits (0-9).\nisdigit(): Checks for digits, including those from other number systems.\nisnumeric(): Checks for numeric characters, including digits, fractions, and numerals.\n'

In [66]:
txt = "Hello! Are you #1?"

x = txt.isprintable() # returns True if the string is printable

print(x)

True

In [67]:
a = "a      "

print(a.isspace()) # returns True if all the characters of the string are white spaces

False

In [68]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle() # returns True if the string follows the rules of a title

print(x)

True

In [69]:
a = "VIVA NERLA"
print(a.isupper()) # returns True if all characters of the string are upper

True

In [70]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple) # Join all items in a tuple into a string, using a hash character as separator

print(x)

John#Peter#Vicky

In [72]:
# Returns a left justified version of the string
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [73]:
a = "Viva Nerla"
print(a.lower()) # converts all the letters of a string to lowercase

viva nerla

In [74]:
a = "    Viva Nerla"
print(a.lstrip()) # strips the left white spaces

Viva Nerla

In [75]:
a = "Welcome to the world!"

mytable = str.maketrans("W", "H") # Returns a translation table to be used in translations
print(a.translate(mytable))

Helcome to the world!

In [76]:
a = "Welcome to the world!"
print(a.partition("to")) # returns a tuple with three elements. 1. before match, 2. match, 3. after match

('Welcome ', 'to', ' the world!')

In [77]:
a = "Happy Days!"
print(a.replace("p", " ")) # replces one value with another specified value

Ha  y Days!

In [78]:
a = "Happy Days!"
print(a.rfind("p")) # Searches the string for a specified value and returns the last position of where it was found

3

In [79]:
a = "Happy Days"
print(a.rindex("p")) # Searches the string for a specified value and returns the last position of where it was found

3

In [80]:
a = "Happy Days!"
print(a.rjust(25)) # Returns a right justified version of the string

              Happy Days!

In [81]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas") # Returns a tuple where the string is parted into three parts

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [83]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ") # Splits the string at the specified separator, and returns a list

print(x)

['apple', 'banana', 'cherry']

In [84]:
a = "    Viva    "
print(a.rstrip(), "is awesmoe")

    Viva is awesmoe

In [85]:
a = "Welcome to the new world!"
print(a.split()) # splits at specified separator. If not specified, space is used for separator

['Welcome', 'to', 'the', 'new', 'world!']

In [86]:
a = "This is Python programming\nIt is very important for ML"
print(a.splitlines()) # splits the string at line breaks and returns a list

['This is Python programming', 'It is very important for ML']

In [87]:
a = "Welcome to the awesome world of Python"
print(a.startswith("Welcome")) # returns True if the string starts with the specified value

True

In [88]:
a = "      Viva     "
print(a.strip())
print(len(a.strip()))

Viva
4

In [89]:
a = "Viva Nerla"
print(a.swapcase()) # as the name suggests, it swaps the case of the each letter in the string

vIVA nERLA

In [90]:
a = "welcome to the awesome world of python"
print(a.title()) # Converts first letter of every word to uppercase

Welcome To The Awesome World Of Python

In [91]:
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict)) # Returns a translated string

Hello Pam!

In [93]:
a = "welcome to the awesome world of python"
print(a.upper())

WELCOME TO THE AWESOME WORLD OF PYTHON

In [94]:
a = "Viva"
print(a.zfill(10)) # Fills the string with zeros until it is specified number of characters long

000000Viva

# 10. Python Booleans

In [98]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [99]:
# Boolean expressions let's to evaluate statements
a = 100
b = 300

if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{b} is greater than {a}")

300 is greater than 100

In [100]:
print(bool(15))
print(bool(0))
print(bool("Hello"))

True
False
True

In [101]:
"""
Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.
"""

'\nAny string is True, except empty strings.\n\nAny number is True, except 0.\n\nAny list, tuple, set, and dictionary are True, except empty ones.\n'

In [102]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

True
True
True

In [103]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [104]:
def myFunction() :
  return True

print(myFunction())

True

In [105]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [106]:
# Python has many built-in functions that returns boolean
x = 200
print(isinstance(x, int))

True

# 11. Python Operators

### 11a. Arithmatic Operators

In [109]:
print(10 + 5) # addition
print(9 - 4) # subtraction
print(10 * 10) # multiplication
print(16 / 4) # division
print(16 % 5) # remainder
print(2 ** 2) # exponential
print(17 // 3) # floor division

15
5
100
4.0
1
4
5

### 11b. Assignment Operators

In [111]:
x = 5 # assignment
print(x)
x += 3 # same as x + 3
print(x)
x -= 4 # same as x - 4
print(x)
x *= 4 # same as x * 4
print(x)
x /= 8 # same as x / 8
print(x)

5
8
4
16
2.0

In [112]:
x = 20
x %= 3 # same as x % 3
print(x)

2

In [113]:
x = 20
x //= 3 # same as x // 3
print(x)

6

In [114]:
x = 4
x **= 5 # same as x ** 5
print(x)

1024

In [115]:
x = 5
x &= 3 # same as x & 3
print(x)

1

In [116]:
x = 10
x |= 3 # same as x | 3
print(x)

11

In [117]:
x = 2
x ^= 3 # same as x^3
print(x)

1

In [118]:
x = 5
x >>= 3 # same as x >> 3
print(x)

0

In [119]:
x = 5
x <<= 3 # same as x << 3
print(x)

40

In [120]:
print(x := 3) # same as x = 3 and print(x) together

3

### 11c. Comparison operators

In [122]:
x = 4
y = 6
print(x == y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)
print(x != y)

False
False
True
False
True
True

### 11d. Logical Operators

In [124]:
x = 10
print(x > 5 and x < 9) # and means both the comditions should be satisfied
print(x > 5 or x < 9) # or means either of the conditions can be satisfied
print(not(x > 5 and x < 9)) # just opposite of the condition specified

False
True
True

### 11e. Identity Operators

In [126]:
x = 5
y = 5
print(x is y)
print(x is not y)

True
False

### 11f. Membership Operators

In [128]:
x = ["apple", "banana"]
print("banana" in x)

True

In [129]:
x = ["apple", "banana"]
print("banana" not in x)

False

### 11g. Bitwise Operators

In [131]:
print(6 & 3) # compares each bit and set it to 1 if both are 1, otherwise it is set to 0
print(0 & 2)

2
0

In [132]:
print(6 | 3) # Sets each bit to 1 if one of two bits is 1
print(0 | 2)

7
2

In [133]:
print(4 ^ 2) # Sets each bit to 1 if only one of two bits is 1
print(0 ^ 6)
print(7 ^ 0)

6
6
7

In [134]:
print(~7) # Inverts all the bits

-8

In [135]:
x = 4
print(x << 2) # Shift left by pushing zeros in from the right and let the leftmost bits fall off

16

In [136]:
x = 6
print(x >> 2) # Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off

1

### 11g. Operator Precedence

In [138]:
"""
Order as listed:
1. ()
2. **
3. +x, -x, ~x
4. *, /, //, % 
5. +, -
6. <<, >>
7. &
8. ^
9. |
10. ==, !=, >, >=, <, <=, is, is not, in, not in
11. not
12. and
13. or
"""

'\nOrder as listed:\n1. ()\n2. **\n3. +x, -x, ~x\n4. *, /, //, % \n5. +, -\n6. <<, >>\n7. &\n8. ^\n9. |\n10. ==, !=, >, >=, <, <=, is, is not, in, not in\n11. not\n12. and\n13. or\n'

In [139]:
print(5 + 4 - 3 + 6)

12

# 12. Lists

In [141]:
# Lists are created using square brackets
fruits = ["Apple", "Banana", "Orange"]
print(fruits)

['Apple', 'Banana', 'Orange']

In [142]:
"""
Lists are ordered:
1. The items have a defined order, and that order will not changed
2. If a new item added to the list, it will be added at the end
Lists are changeable:
1. Items can be added or removed from the list
2. This can be done even after a list is created
"""

'\nLists are ordered:\n1. The items have a defined order, and that order will not changed\n2. If a new item added to the list, it will be added at the end\nLists are changeable:\n1. Items can be added or removed from the list\n2. This can be done even after a list is created\n'

In [143]:
# Lists allow duplicates
fruits = ["Apple", "Banana", "Orange", "Apple", "Cherry"]
print(fruits)

['Apple', 'Banana', 'Orange', 'Apple', 'Cherry']

In [144]:
# len() function can be used to determine the length of the list
fruits = ["Apple", "Banana", "Orange"]
print(len(fruits))

3

In [145]:
# list items can be of any data type
fruits = ["Apple", "Banana", "Orange"]
numbers = [1, 2, 3, 4, 5]
list3 = [True, False, False]

In [146]:
# Single list can have different types of list items
list1 = ["a", 2, True, "Banana", False]

In [147]:
list1 = ["a", 2, True, "Banana", False]
print(type(list1))

<class 'list'>

In [148]:
# list constructor can be used while defining a new list
fruits = list(("Apple", "Banana", "Orange"))
print(fruits)
print(type(fruits))

['Apple', 'Banana', 'Orange']
<class 'list'>

In [149]:
"""
Python Collections (Arrays)
There are four collection data types in the Python programming language:

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered and changeable. No duplicate members.
*Set items are unchangeable, but you can remove and/or add items whenever you like.
"""

'\nPython Collections (Arrays)\nThere are four collection data types in the Python programming language:\n\nList is a collection which is ordered and changeable. Allows duplicate members.\nTuple is a collection which is ordered and unchangeable. Allows duplicate members.\nSet is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.\nDictionary is a collection which is ordered and changeable. No duplicate members.\n*Set items are unchangeable, but you can remove and/or add items whenever you like.\n'

### 12a. Accessing List Items

In [151]:
fruits = ["Apple", "Banana", "Orange"]
print(fruits[1]) # list items can be accessed by index numbers. First item's index is 0

Banana

In [152]:
fruits = ["Apple", "Banana", "Orange"]
print(fruits[-1]) # negative indexing means start from the end. -1 is the first item from the last. -2 is the second last and so on

Orange

In [153]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5]) # multiple items of the list can be accessed by range of indexes

['cherry', 'orange', 'kiwi']

In [154]:
print(fruits[:5]) # to access items from the start till 4th item
print(fruits[2:]) # to access items from 2nd item till the last

['apple', 'banana', 'cherry', 'orange', 'kiwi']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [155]:
# range of negative indexes also can be used the same way
print(fruits[:-2]) # to access items from the start till 3rd item from last
print(fruits[-4:]) # to access items from 4th item from last till the end

['apple', 'banana', 'cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon', 'mango']

In [156]:
# check if an item exists in the list
if "apple" in fruits:
    print("YES")

YES

### 12b. Change Item Value

In [158]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits[1] = "strawberry" # this changes the item in 2nd place to "strawberry"
print(fruits)

['apple', 'strawberry', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [159]:
# in the same way, a range of items can be changed
fruits[1:3] = ["blackcurrent", "watermelon"]
print(fruits)

['apple', 'blackcurrent', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [160]:
# if more items are inserted than the number of items being replaced, then a new item will be added
fruits = ["apple", "banana", "cherry"]
fruits[1:2] = ["blackcurrent", "watermelon"] # here two items are being inserted into 2nd place
print(fruits)

['apple', 'blackcurrent', 'watermelon', 'cherry']

In [161]:
# if less items are inserted, then the newly added item will be added
fruits = ["apple", "banana", "cherry"]
fruits[1:3] = ["watermelon"]
print(fruits)

['apple', 'watermelon']

In [162]:
# insert() can be used to insert an item at a specific place without replacing the item in that place
fruits = ["apple", "banana", "cherry"]
fruits.insert(2, "watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry']

### 12c. Add List Items

In [164]:
# append() helps to add an item to the list at the end of the list
fruits = ["apple", "banana", "cherry"]
fruits.append("watermelon")
print(fruits)

['apple', 'banana', 'cherry', 'watermelon']

In [165]:
# insert() can be used to insert an item at a specific place without replacing the item in that place
fruits = ["apple", "banana", "cherry"]
fruits.insert(2, "watermelon")
print(fruits)

['apple', 'banana', 'watermelon', 'cherry']

In [166]:
# extend() can be used to add items from one list to another list
fruits1 = ["apple", "banana"]
fruits2 = ["orange", "kiwi"]
fruits1.extend(fruits2)
print(fruits1)

['apple', 'banana', 'orange', 'kiwi']

In [167]:
# extend() can also be used to add items from a tuple, set, or a dictionary to the list
fruits1 = ["apple", "banana"]
fruits2 = ("orange", "kiwi")
fruits1.extend(fruits2)
print(fruits1)

['apple', 'banana', 'orange', 'kiwi']

### 12d. Remove List Items

In [169]:
fruits = ["apple", "banana", "orange"]
fruits.remove("banana") # an item from the list can be deleted permanently using remove() function
print(fruits)

['apple', 'orange']

In [170]:
fruits = ["apple", "banana", "orange", "banana"]
fruits.remove("banana") # in case of duplicates, remove() removes only the first occurance
print(fruits)

['apple', 'orange', 'banana']

In [171]:
# an item at the specified index can be removed by using the pop() method
fruits = ["apple", "banana", "orange", "banana"]
fruits.pop(1)
print(fruits)

['apple', 'orange', 'banana']

In [172]:
# if the index is not specified, pop() removes the last item
fruits = ["apple", "banana", "orange", "banana"]
fruits.pop()
print(fruits)

['apple', 'banana', 'orange']

In [173]:
# del keyword also removes the item at specified index
fruits = ["apple", "banana", "orange", "banana"]
del fruits[0]
print(fruits)

['banana', 'orange', 'banana']

In [174]:
# if index is not specified, del keyword deletes the list
fruits = ["apple", "banana", "orange", "banana"]
del fruits
print(fruits)

NameError: name 'fruits' is not defined

In [332]:
# instead clear() deletes the items in the list and list will be an empty one
fruits = ["apple", "banana", "orange"]
fruits.clear()
print(fruits)
print(len(fruits))

[]
0

### 12e. Loop Lists

In [334]:
fruits = ["apple", "banana", "orange"]

# to print all the items in the list one by one
for i in fruits:
    print(i)

apple
banana
orange

In [335]:
# list can be looped by the index number
fruits = ["apple", "banana", "orange"]

for i in range(len(fruits)):
    print(fruits[i])

apple
banana
orange

In [336]:
# the same can be done by different loops other than for
fruits = ["apple", "banana", "orange"]

i = 0
while i < len(fruits):
    print(fruits[i])
    i = i + 1

apple
banana
orange

In [337]:
# list comprehension
fruits = ["apple", "banana", "orange"]
[print(i) for i in fruits]

apple
banana
orange

[None, None, None]

### 12f. List Comprehension

In [339]:
# list comprehension offers a short form of the code
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [340]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"] # various conditions can be applied in short forms
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [341]:
# The iterable can be any iterable object, like a list, tuple, set etc.
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [342]:
# conditions can be metioned along with other iterable objects
newlist = [ x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [343]:
# expressions can be applied in the form of list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [344]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ['hello' for x in fruits] # set the values of the new list to a specified value
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [345]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x!= "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

### 12g. Sort Lists

In [347]:
# sort() by default sorts the list alphanumerically in ascending order
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
fruits.sort()
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [348]:
numbers = [12, 4, 55, 23, 21]
numbers.sort()
print(numbers)

[4, 12, 21, 23, 55]

In [349]:
# reverse = True is key to sort descending order
numbers = [12, 4, 55, 23, 21]
numbers.sort(reverse = True)
print(numbers)

[55, 23, 21, 12, 4]

In [350]:
# key = function helps in sorting in a customized order
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [351]:
# sort() is case sensitive
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.sort()
print(fruits)

['Kiwi', 'Orange', 'banana', 'cherry']

In [352]:
# case insensitive sort is possible by customization
fruits = ["banana", "Orange", "Kiwi", "cherry"]
fruits.sort(key = str.lower)
print(fruits)

['banana', 'cherry', 'Kiwi', 'Orange']

In [353]:
# instead of alphanumeric sort, reverse() helps to sort in just the reverse order of the defined one
fruits = ["banana", "orange", "kiwi", "cherry"]
fruits.reverse()
print(fruits)

['cherry', 'kiwi', 'orange', 'banana']

### 12h. Copy Lists

In [355]:
fruits = ["apple", "banana", "orange"]
my_fruits = fruits.copy()
print(my_fruits)

['apple', 'banana', 'orange']

In [356]:
# list() method can also be used for the same result
fruits = ["apple", "banana", "orange"]
my_fruits = list(fruits)
print(my_fruits)

['apple', 'banana', 'orange']

In [357]:
# slice operator can be used for the same :
fruits = ["apple", "banana", "orange"]
my_fruits = fruits[:]
print(my_fruits)

['apple', 'banana', 'orange']

### 12i. Join Lists

In [359]:
# '+' operator is used to join or concatenate two or more lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [360]:
# iteration using append() is another way to join two lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

for i in list2:
    list1.append(i)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [361]:
# extend() can also be used for the same
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

# append() and extend() permanently alters the the list to which other list is being added

['a', 'b', 'c', 1, 2, 3]

In [362]:
"""
List Methods:
append()    Adds an element at the end of the list
clear()     Removes all the elements from the list
copy()	    Returns a copy of the list
count()	    Returns the number of elements with the specified value
extend()	Add the elements of a list (or any iterable), to the end of the current list
index()	    Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	    Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	    Sorts the list
"""

'\nList Methods:\nappend()    Adds an element at the end of the list\nclear()     Removes all the elements from the list\ncopy()\t    Returns a copy of the list\ncount()\t    Returns the number of elements with the specified value\nextend()\tAdd the elements of a list (or any iterable), to the end of the current list\nindex()\t    Returns the index of the first element with the specified value\ninsert()\tAdds an element at the specified position\npop()\t    Removes the element at the specified position\nremove()\tRemoves the item with the specified value\nreverse()\tReverses the order of the list\nsort()\t    Sorts the list\n'

# 13. Tuples

In [364]:
# A tuple is a collection which is ordered and unchangeable.
a = ("a", "b", "c")
print(a)

('a', 'b', 'c')

In [365]:
# duplicates are allowed in tuples
fruits = ("apple", "banana", "cherry", "kiwi", "apple")
print(fruits)

('apple', 'banana', 'cherry', 'kiwi', 'apple')

In [366]:
# tuple length can be determined by using len() function
fruits = ("apple", "banana", "cherry", "kiwi", "apple")
print(len(fruits))

5

In [367]:
# ',' to be added after the item if a tuple has to be created with one item
fruit = ("apple",) # this is a tuple
print(type(fruit)) 

fruit1 = ("apple") # this is not a tuple
print(type(fruit1))

<class 'tuple'>
<class 'str'>

In [368]:
# tuples can have any type of data
a1 = ("a", "b", "c")
a2 = (2, 3, 4)
a3 = (True, False, False)

In [369]:
# tuples can have multiple data types within one tuple
a = ("apple", 4, True, 25, "c")

In [370]:
# type of tuple can be defined by type()
fruits = ("apple", "banana", "kiwi")
print(type(fruits))

<class 'tuple'>

In [371]:
# it is possible to use tuple() constructor to make a tuple
fruits = tuple(("apple", "banana", "cherry"))

print(type(fruits))

<class 'tuple'>

### 13a. Access Tuple Items

In [373]:
# tuple items can be accessed using index numbers
tuple1 = ("apple", "banana", "cherry")
print(tuple1[1])

banana

In [374]:
# similar to lists, negative indexing can be used on tuples as well
tuple1 = ("apple", "banana", "cherry")
print(tuple1[-1]) # -1 refers to the first item from last

cherry

In [375]:
# multiple items from the tuple can be accessed using range
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [376]:
# indexing on tuples work similar to indexing on lists
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(fruits[:5]) # first to 4th item from the tuple
print(fruits[3:]) # 3rd item till the end from the tuple
print(fruits[:-2]) # first to 3rd item from tlast
print(fruits[-4:]) # 4th item from last to the last item

('apple', 'banana', 'cherry', 'orange', 'kiwi')
('orange', 'kiwi', 'melon', 'mango')
('apple', 'banana', 'cherry', 'orange', 'kiwi')
('orange', 'kiwi', 'melon', 'mango')

In [377]:
# "in" can be used check if an item exists in the tuple or not
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
if "mango" in fruits:
    print("YES")

YES

### 13b. Update Tuple

In [379]:
# tuples are immutable and unchangeable
# so, in order to change tuples
# first, tuple needs to be changed to list - perform the required operation - convert back it to tuple
tup1 = ("a", "b", "c")
lis1 = list(tup1)
lis1[1] = "d"
tup1 = tuple(lis1)

print(tup1)

('a', 'd', 'c')

In [380]:
# similarly, items can be added to the tuple
tup1 = ("a", "b", "c")
lis1 = list(tup1)
lis1.append("d")
tup1 = tuple(lis1)

print(tup1)

('a', 'b', 'c', 'd')

In [381]:
# two tuples can be added together
tup1 = ("a", "b", "c")
tup2 = ("d", "e")

tup1 += tup2
print(tup1)

('a', 'b', 'c', 'd', 'e')

In [382]:
# removing items from tuples can be done using the same turn-arond as adding items to tuple
tup1 = ("a", "b", "c")
lis1 = list(tup1)
lis1.remove("c")
tup1 = tuple(lis1)

print(tup1)

('a', 'b')

In [383]:
# del keyword can be used to delete a tuple permanently
tup1 = ("a", "b", "c")
del tup1

print(tup1)

NameError: name 'tup1' is not defined

### 13c. Unpack Tuples

In [ ]:
# tuple values can be extracted and assigned to variables - this is called unpacking
fruits = ("apple", "banana", "kiwi")
(red, yellow, green) = fruits
print(red)
print(yellow)
print(green)

In [ ]:
# while unpacking, if the number of vaiables are less than the number of values, use * to assign all the remining to it
# this will allow the remaining variables to be assigned to a list
fruits = ("apple", "banana", "kiwi", "pear")
(red, yellow, *green) = fruits
print(red)
print(yellow)
print(green)

In [ ]:
# If the asterisk is added to another variable name than the last, 
# Python will assign values to the variable until the number of values left matches the number of variables left.
fruits = ("apple", "kiwi", "pear", "watermelon", "banana")
(red, *green, yellow) = fruits
print(red)
print(green)
print(yellow)

### 13d. Looping Through Tuples

In [ ]:
# for loop
fruits = ("apple", "banana", "kiwi", "pear")
for i in fruits:
    print(i)

In [ ]:
# looping can be done using index numbers
fruits = ("apple", "banana", "kiwi", "pear")
for i in range(len(fruits)):
    print(fruits[i])

In [ ]:
# while loop
fruits = ("apple", "banana", "kiwi", "pear")
i = 0
while i < len(fruits):
    print(fruits[i])
    i = i + 1

### 13e. Join Tuples

In [ ]:
tup1 = ("a", "b", "c", "d")
tup2 = (1, 2, 3)

tup3 = tup1 + tup2
print(tup3)

In [ ]:
# multiply tuples
tup1 = ("a", "b", "c", "d")
tup2 = tup1 * 2 # this repeats the tuple multiple number of times
print(tup2)

### 13f. Tuple Methods

In [ ]:
"""
Method	Description
count()	Returns the number of times a specified value occurs in a tuple
index()	Searches the tuple for a specified value and returns the position of where it was found
"""

# 14. Sets

In [ ]:
# A set is a collection which is unordered, unchangeable*, and unindexed
# * Note: Set items are unchangeable, but you can remove items and add new items
# Sets are written in curly brackets
fruits = {"a", "b", "c"}
print(fruits)
print(type(fruits))

In [ ]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
# duplicates are not allowed in the set - here True and 1 are treated as duplicates
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry", False, True, 0}
# similarly, false and 0 are treated as duplicates
print(thisset)

In [ ]:
fruits = {"a", "b", "c"}
print(fruits)
print(len(fruits)) # similar to lists and tuples, len() function can be used on sets to determine length

In [ ]:
# sets can have different types of data - in the same set
set1 = {"a", "b", "c"}
set2 ={1, 2, 3, 4}
set3 = {True, False, True}
set4 = {"a", 2, False, "Male"}
print(set1)
print(set2)
print(set3)
print(set4)

In [ ]:
# type() can be used to determine the type of a set
set1 = {"a", "b", "c"}

print(type(set1))

In [ ]:
# set can be built by using a set constructor
set1 = set(("a", "b", "c"))
print(set1)
print(type(set1))

### 14a. Access Set Items

In [ ]:
# using for loop
fruits = {"apple", "banana", "cherry"}
for i in fruits:
    print(i)

In [ ]:
# to check if an item exists in a set, "in" keyword can be used
fruits = {"apple", "banana", "cherry"}
print("banana" in fruits)

In [ ]:
# similarly, if an item "not" in the set can be determined
fruits = {"apple", "banana", "cherry"}
print("banana" not in fruits)

### 14b. Add Set Items

In [ ]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

In [ ]:
# items from one set can be added to another using update
set1 = {"a", "b", "c"}
set2 = {"d", "e", "f"}

set1.update(set2)
print(set1)

In [ ]:
# add any iterable to the set
set1 = {"a", "b", "c"}
list1 = ["d", "e", "f"]

set1.update(list1)
print(set1)

### 14c. Remove Set Items

In [ ]:
fruits= {"apple", "banana", "carrot", "cherry"}
fruits.remove("carrot")

print(fruits)

In [ ]:
# discard() can be used for the same
fruits= {"apple", "banana", "carrot", "cherry"}
fruits.discard("carrot")

print(fruits)

In [ ]:
fruits= {"apple", "banana", "carrot", "cherry"}
fruits.remove("kiwi") # if the item does not exist, remove() raises an error
fruits.discard("pear") # if the item does not exist, discard() does not raise an error

In [ ]:
# pop() removes a random item from the list
fruits= {"apple", "banana", "carrot", "cherry"}
x = fruits.pop()

print(fruits)
print(x)

In [ ]:
# clear() method empties the list
fruits= {"apple", "banana", "carrot", "cherry"}
fruits.clear()
print(fruits)

In [ ]:
# del keyword permanently deletes the list
fruits= {"apple", "banana", "carrot", "cherry"}
del fruits
fruits()

### 14d. Loop Sets

In [ ]:
fruits= {"apple", "banana", "carrot", "cherry"}
for i in fruits:
    print(i)

### 14e. Join Sets

In [ ]:
# The union() and update() methods joins all items from both sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2 # | can be used instead of union()
print(set3)

In [ ]:
# multiple sets can be joined using union() method
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1 | set2 | set3 | set4
print(myset)

In [ ]:
x = {"a", "b", "c"}
y = (1, 2, 3)

z = x.union(y)
print(z)

In [ ]:
# The update() method inserts all items from one set into another
# The update() changes the original set, and does not return a new set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

In [ ]:
# The intersection() method will return a new set, that only contains the items that are present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

In [ ]:
# "&" operator can be used instead of intersection()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

In [ ]:
# The intersection_update() method will also keep ONLY the duplicates, but it will change the original set instead of returning a new set.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2)

print(set1)

In [ ]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)

In [ ]:
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

In [ ]:
# "-" can be used instead of difference() method
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2

print(set3)

In [ ]:
# The difference_update() method will also keep the items from the first set that are not in the other set
# but it will change the original set instead of returning a new set
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

In [ ]:
# The symmetric_difference() method will keep only the elements that are NOT present in both sets
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

In [ ]:
# "^" can be used instead of symmetric_difference()
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2

print(set3)

In [ ]:
# The symmetric_difference_update() method will also keep all but the duplicates
# but it will change the original set instead of returning a new set
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

### 14f. Other Methods

In [ ]:
# copy()
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.isdisjoint(set2) # returns True, if no items in set1 is present in set2
print(set3)

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y) # Return True if all items in set x are present in set y

print(z)

In [ ]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x <= y # "<=" same as issubset()

print(z)

In [384]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y) # Return True if all items set y are present in set x

print(z)

True

In [385]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x >= y # ">=" is same as isuperset()
print(z)

True

# 15. Dictionaries

In [387]:
# Dictionaries are used to store data values in key:value pairs
# A dictionary is a collection which is ordered*, changeable and do not allow duplicates
# As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [388]:
# Dictionary items are ordered, changeable, and do not allow duplicates
# Dictionary items are presented in key:value pairs, and can be referred to by using the key name
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [389]:
# Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created
# Dictionaries cannot have two items with the same key
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [390]:
# len() function can be used for dictionaries as well
print(len(thisdict))

3

In [391]:
# dictionary items can be of any data tyoe
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [392]:
print(type(thisdict))

<class 'dict'>

In [393]:
# dict() constructor can be used to make a dictionary
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

### 15a. Accessing Items

In [395]:
# items of the dictionary can be accessed by using the key names
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [396]:
# get() method can be used for the same
x = thisdict.get("model")
print(x)

Mustang

In [397]:
# keys() method can be used to get the list of keys
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [398]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change

car["color"] = "white"

print(x) #after the change

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [399]:
# values() method returns the values in the dictionary
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [400]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 2020])

In [401]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [402]:
# The items() method will return each item in a dictionary, as tuples in a list
x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [403]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [404]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [405]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

if "model" in car: # to check if a key exists or not
    print("Yes!")

Yes!

### 15b. Change Items

In [407]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
car["year"] = 2018
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [408]:
# update() method can be used for the same purpose
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
car.update({"year": 2020})
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

### 15c. Adding Items

In [410]:
# Adding an item to the dictionary is done by using a new index key and assigning a value
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [411]:
# update() can be used for the same
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color":"red"})

print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

### 15d. Removing Items

In [413]:
# pop() method is used to remove a particular item using the key
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [414]:
# popitem() removes the last inserted item
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [415]:
# del keyword can be used to remove an item using the key
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]

print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [416]:
# del keyword can also be used to delete an entire dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict)

NameError: name 'thisdict' is not defined

In [ ]:
# clear() method deletes the items in the dictionary and makes it empty
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.clear()
print(thisdict)

### 15d. Loop Dictionaries

In [418]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(i) # this method prints keys

brand
model
year

In [419]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict:
    print(thisdict[i]) # this method prints values

Ford
Mustang
1964

In [420]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.values(): # to print values
    print(i)

Ford
Mustang
1964

In [421]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.keys(): # to print keys
    print(i)

brand
model
year

In [422]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for i in thisdict.items(): # to print both keys and values
    print(i)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

### 15e. Copy Dictionaries

In [424]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

newdict = thisdict.copy() # copy() method is used to copy the items of one dictionary to other
print(newdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [425]:
# dict() can also be used for the same
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

newdict = dict(thisdict)
print(newdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

### 15f. Nested Dictionaries

In [427]:
family = {
    "child1" : {
        "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(family)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [428]:
# this same can be accomplished by another method
child1 = {
    "name" : "Emil",
    "year" : 2004
}
child2 = {
    "name" : "Tobias",
    "year" : 2007
}
child3 = {
    "name" : "Linus",
    "year" : 2011
}

family = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}

print(family)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [429]:
print(family["child2"]["name"]) # to access the items in the nested dictionaries

Tobias

In [430]:
# looping through nested dictionaries
for i, j in family.items():
    print(i)

    for x in j:
        print(x + ":", j[x])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

### 15g. Dictionary Methods

In [432]:
# other methods
# fromkeys() returns a dictionary with the specified keys and value
x = ('key1', 'key2', 'key3')
y = 0

thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [433]:
# get() returns the value of the specified key
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("model")

print(x)

Mustang

In [434]:
# setdefault() returns the value of the specified key. If the key does not exist: insert the key, with the specified value
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Mustang

In [435]:
car = {
  "brand": "Ford",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

print(x)

Bronco