# 1. if...else

In [1]:
# logical conditions can be tested using if statement
a = 100
b = 200
if a < b:
    print(f"{a} is less than {b}")

100 is less than 200

In [2]:
# indentation is important in python
a = 100
b = 200
if a < b:
print(f"{a} is less than {b}") # this will result in error due to indentation error

IndentationError: expected an indented block after 'if' statement on line 4 (1288607619.py, line 5)

In [3]:
# elif in python referes to, if the previous statement is not true, test this condition
a = 200
b = 100
if a < b:
    print(f"{a} is less than {b}")
elif b < a:
    print(f"{b} is less than {a}")

100 is less than 200

In [4]:
# else keyword catches anything that previous conditions doesn't satisfy
a = 100
b = 100
if a > b:
    print(f"{a} is greater than {b}")
elif b > a:
    print(f"{b} is greater than {a}")
else:
    print("Both the numbers are equal")

Both the numbers are equal

In [5]:
# short hand if
a = 100
b = 22
if a > b: print("a is greater than b")

a is greater than b

In [6]:
# short hand if else if
a = 100
b = 200
print("a is greater than b") if a > b else print("b is greater than a")

b is greater than a

In [7]:
# short hand if else
a = 100
b = 100
print("a is greater than b") if a > b else print("b is greater than a") if b > a else print("Both the numbers are equal")

Both the numbers are equal

In [8]:
# and is logical key operator that can be used within if statement
a = 100
b = 200
c = 300
if b > a and c > b:
    print("c is the biggest of all three numbers")

c is the biggest of all three numbers

In [9]:
# smilarly or cna be used
a = 100
b = 100
c = 200
if a == b or b == c or c == a:
    print("Atleast two of the numbers are same")

Atleast two of the numbers are same

In [11]:
# not operator
a = 100
b = 200
if not a > b:
    print("a is not greater than b")

a is not greater than b

In [13]:
# nested if
age = 43
if age > 10:
    print("Age is above 10")
    if age > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Age is above 10
and also above 20!

In [15]:
# pass avoids getting an error
a = 22
b = 33
if a > b:
    pass

# 2. Match

In [18]:
# based on the condition provided, match statement selects one of the many code bloacks to execute
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

In [20]:
# "_" character is used in match cose statement as the default value, when there is no match
day = 4
match day:
    case 6:
        print("Yay! Saturday")
    case 7:
        print("Yay! Sunday")
    case _:
        print("Looking forward to the weekend")

Looking forward to the weekend

In [22]:
# "|" pipe character is used to combine values
day = 4
match day:
    case 1 | 2 | 3 | 4 | 5:
        print("Looking forward to the weekend")
    case 6 | 7:
        print("Yay! Weekend")

Looking forward to the weekend

In [24]:
# if statements as gaurds
day = 7
month = 6
match day:
    case 1 | 2 | 3 | 4 | 5 if month <= 6:
        print("Weekday in the first half of the year")
    case 1 | 2 | 3 | 4 | 5 if month > 6:
        print("Weekday in the second half of the year")
    case 6 | 7:
        print("Yay! Weekend anyways :)")

Yay! Weekend anyways :)

# 3. While Loops

In [27]:
i = 1
while i < 6: # this will be executed until proven wrong
    print(i)
    i = i + 1

1
2
3
4
5

In [29]:
i = 1
while i < 6:
    print(i)
    if i == 3:
        break # this stops the loop even if it correct
    i = i + 1

1
2
3

In [31]:
i = 0
while i < 6:
    i = i + 1
    if i == 3:
        continue # this skips only when the condition is correct
    print(i)

1
2
4
5
6

In [33]:
# With the else statement we can run a block of code once when the condition no longer is true
i = 1
while i < 6:
    print(i)
    i = i + 1

else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

# 4. For Loops

In [36]:
# With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc
fruits = ["apple", "mango", "kiwi"]
for i in fruits:
    print(i)

apple
mango
kiwi

In [38]:
# looping through a string
for i in "banana":
    print(i)

b
a
n
a
n
a

In [40]:
# use of break() in for loop
fruits = ["apple", "banana", "kiwi"]
for i in fruits:
    print(i)
    if i == "banana":
        break # this stops the loops after printing "banana" as print happens before checking

apple
banana

In [42]:
# use of break() in for loop
fruits = ["apple", "banana", "kiwi"]
for i in fruits:
    if i == "banana":
        break # this loop breaks before printing "banana" as print happens after checking the statement
    print(i)

apple

In [44]:
# as seen before, continue skips the iteration when the condition is met
fruits = ["apple", "banana", "kiwi"]
for i in fruits:
    if i == "banana":
        continue # skips printing "banana"
    print(i)

apple
kiwi

In [46]:
# range() can be used to loop through specific number of times
for i in range(6):
    print(i)

0
1
2
3
4
5

In [48]:
# the range() function starts at 0 by default, this can be altered in definition
for i in range(2, 6):
    print(i)

2
3
4
5

In [50]:
# increament steps in range function is by default 1. This can be altered in definition
for i in range(2, 30, 3):
    print(i)

2
5
8
11
14
17
20
23
26
29

In [52]:
# The else keyword in a for loop specifies a block of code to be executed when the loop is finished
for i in range(6):
    print(i)
else:
    print("Finished!")

0
1
2
3
4
5
Finished!

In [54]:
# The else block will NOT be executed if the loop is stopped by a break statement
for i in range(6):
    if i == 3:
        break
    print(i)
else:
    print("Finished!")

0
1
2

In [56]:
# nested for loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "cherry", "strawberry"]

for i in adj:
    for j in fruits:
        print(i, j)

red apple
red cherry
red strawberry
big apple
big cherry
big strawberry
tasty apple
tasty cherry
tasty strawberry

In [58]:
# pass just avoids looping through as for loop cannot be empty and pass helps in executing for loop without any output
for i in range(3):
    pass

# 5. Functions

In [61]:
# function is defined with "def" keyword
def func():
    print("My First Python Function!")

In [63]:
# calling a function - call it by the name
func()

My First Python Function!

In [65]:
# Information can be passed into functions as arguments
def name(fname):
    print(fname + " Pitt")

name("John")
name("Brad")
name("Lily")

John Pitt
Brad Pitt
Lily Pitt

In [67]:
# function can have any number of arguments
def name(fname, lname):
    print(fname + " " + lname)

name("John", "Pitt")

John Pitt

In [69]:
# if the number of arguments are less or more, it results in an error
name("Lily") # less args than expected

TypeError: name() missing 1 required positional argument: 'lname'

In [ ]:
name("Brad", "Liam", "Pitt") # more args than expected

In [ ]:
# "*" is used to define a tuple of arguments in any number
def func(*kids):
    print("The youngest kid is " + kids[-1])

func("Lily", "Lisa", "Yogi", "Eeshu")

In [ ]:
# arguments can also be sent in key = value format
def func(kid1, kid2, kid3):
    print("The youngest child is " + kid3)

func(kid1 = "Lisa", kid2 = "Yogi", kid3 = "Eeshu")

In [74]:
"""
Arguments are often shortened to args in Python documentations.
Arbitrary Arguments are often shortened to *args in Python documentations.
The phrase Keyword Arguments are often shortened to kwargs in Python documentations.
Arbitrary Kword Arguments are often shortened to **kwargs in Python documentations.
"""

'\nArguments are often shortened to args in Python documentations.\nArbitrary Arguments are often shortened to *args in Python documentations.\nThe phrase Keyword Arguments are often shortened to kwargs in Python documentations.\nArbitrary Kword Arguments are often shortened to **kwargs in Python documentations.\n'

In [76]:
# If the number of keyword arguments is unknown, add a double ** before the parameter name
def func(**kid):
    print("His last name is " + kid["lname"])

func(fname = "Lily", lname = "Pitt")

His last name is Pitt

In [78]:
# default parameter value
def my_country(country = "Norway"):
    print("I am from " + country)

my_country("India")
my_country("London")
my_country() # this call without argument takes the input from the default value in the function definition

I am from India
I am from London
I am from Norway

In [80]:
# passing a list as an argument
def func(food):
    for x in food:
        print(x)

lunch = ["rice", "veggies", "meat", "fruits", "drink"]

func(lunch)

rice
veggies
meat
fruits
drink

In [82]:
# to let a function return the value, return() is used
def func(x):
    return 5 * x

print(func(3))
print(func(9))
print(func(0))

15
45
0

In [84]:
# pass does the job as already seen
def func():
    pass

func()

In [86]:
# positional-only arguments
# To specify that a function can have only positional arguments, add , / after the arguments
# Without the , / keyword arguments are allowed even if the function expects positional arguments

def func(x, /):
    print(x)

func(3)

3

In [88]:
def func(x, /):
    print(x)

func(x = 3) # this gives an error as the function contain positional-only argument

TypeError: func() got some positional-only arguments passed as keyword arguments: 'x'

In [90]:
def func(x):
    print(x)

func(x = 3) # this still prints the result

3

In [92]:
# similarly "*," is used for keyword-only arguments
def func(*, x):
    print(x)

func(x = 3)

3

In [94]:
def func(*, x):
    print(x)

func(3) # this results in an error

TypeError: func() takes 0 positional arguments but 1 was given

In [96]:
# combined positional-only and keyword-only arguments
# Any argument before the / , are positional-only, and any argument after the *, are keyword-only
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(5, 6, c = 7, d = 8)

26

In [98]:
# recursion - It means that a function calls itself
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(6)

Recursion Example Results:
1
3
6
10
15
21

21

In [100]:
# Lambda function
# A lambda function is a small anonymous function.
# A lambda function can take any number of arguments, but can only have one expression.
x = lambda a : a + 10
print(x(5))

15

In [102]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [104]:
x = lambda a, b, c : a + b + c
print(x(2, 3, 4))

9

In [106]:
# power of lambda function is shown when it is used as an anonymus function within another function
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)

print(mydoubler(11))

22

In [108]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

# 6. Arrays

In [110]:
# Python does not have built-in support for Arrays, but Python Lists can be used instead
# - So, this is repition of lists exercises
# to actually work with arrays in Python, import a library NumPy library
# Instead of storing each value in each element, createan array
# car1 = "Ford", car2 = "Volvo", car3 = "BMW" instead of this
cars = ["Ford", "Volvo", "BMW"]

In [112]:
# access the elements of an array using index
cars[1]

'Volvo'

In [113]:
# modify the elements of an array by assigning values
cars[0] = "Toyota"
cars

['Toyota', 'Volvo', 'BMW']

In [114]:
# length of an array
len(cars)

3

In [115]:
# looping through an array
for i in cars:
    print(i)

Toyota
Volvo
BMW

In [116]:
# adding elements to array
cars.append("Honda")
cars

['Toyota', 'Volvo', 'BMW', 'Honda']

In [117]:
# removing an element from the array
cars.pop(1) # pops the element in the position # 1
cars

['Toyota', 'BMW', 'Honda']

In [118]:
cars.remove("BMW")
cars

['Toyota', 'Honda']

In [119]:
# clear removes all the elements of the array and retains an empty array
fruits = ["apple", "banana", "cherry", "kiwi"]
fruits.clear()
fruits

[]

In [120]:
fruits = ["apple", "banana", "cherry", "kiwi"]
diet = fruits.copy()
diet

['apple', 'banana', 'cherry', 'kiwi']

In [121]:
fruits = ["apple", "banana", "cherry", "kiwi", "banana"]
print(fruits.count("banana")) # to count the number of times a specific item appeared

2

In [122]:
cars1 = ["BMW", "Toyota"]
cars2 = ["Ford", "Volvo"]
cars1.extend(cars2) # this extends the first list to include the second one as well
print(cars1)

['BMW', 'Toyota', 'Ford', 'Volvo']

In [123]:
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange") # to insert specified items at the specified location
fruits

['apple', 'orange', 'banana', 'cherry']

In [137]:
fruits = ['apple', 'banana', 'cherry']
fruits.reverse() # reverses the order of items in the array
fruits

['cherry', 'banana', 'apple']

In [139]:
fruits = ['apple', 'banana', 'cherry']
fruits.sort() # sorts alphanumerically in ascending order
fruits

['apple', 'banana', 'cherry']

In [140]:
fruits = ['apple', 'banana', 'cherry']
fruits.sort(reverse = True) # sorts alphanumerically in descending order
fruits

['cherry', 'banana', 'apple']

# 7. Classes/Objects

In [142]:
# A Class is like an object constructor, or a "blueprint" for creating objects
class myclass:
    x = 5

print(myclass)

<class '__main__.myclass'>

In [143]:
# all classes have __init__() function.
# Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created
class person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = person("John", 25)

print(p1.name)
print(p1.age)

John
25

In [144]:
# The __init__() function is called automatically every time the class is being used to create a new object
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [145]:
# self parameter
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print(f"Hello my name is {abc.name} and I am {abc.age}")

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John and I am 36

In [146]:
# modify object properties
p1.age = 40
p1.myfunc()

Hello my name is John and I am 40

In [147]:
# delete object properties
del p1.age

In [148]:
# the usual pass statement
class Person:
    pass

# 8. Inheritance

In [152]:
# create a parent class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [153]:
# then create a child class
class Student(Person):
  pass

In [154]:
x = Student("Mike", "Olsen") # this class inherits the properties of the parent class
x.printname()

Mike Olsen

In [155]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [156]:
# super() is a function that will make the child class inherit all the methods and properties from its parent
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [157]:
class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.firstname)

Mike

In [158]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

  def welcome(self):
    print("Welcome", self.firstname, self.lastname, "to the class of", self.graduationyear)

x = Student("Mike", "Olsen", 2024)
x.welcome()

Welcome Mike Olsen to the class of 2024

# 9. Iterators

In [160]:
# Lists, tuples, dictionaries, and sets are all iterable objects. They are iterable containers which you can get an iterator from.
# All these objects have a iter() method which is used to get an iterator
fruits = ("apple", "banana", "cherry")
ite_fruit = iter(fruits)
print(next(ite_fruit))
print(next(ite_fruit))
print(next(ite_fruit))

apple
banana
cherry

In [161]:
# strings are also iterable
fruit = "banana"
ite_ban = iter(fruit)

print(next(ite_ban))
print(next(ite_ban))
print(next(ite_ban))
print(next(ite_ban))
print(next(ite_ban))
print(next(ite_ban))

b
a
n
a
n
a

In [162]:
# iterable objects can be looped through for easy and practical way of usage
# for() loop - The for loop actually creates an iterator object and executes the next() method for each loop
fruits = ["apple", "banana", "cherry"]

for i in fruits:
    print(i)

apple
banana
cherry

In [163]:
fruit = "banana"

for i in range(len(fruit)):
    print(fruit[i])

b
a
n
a
n
a

In [164]:
"""
Create an Iterator
To create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.
As you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.
The __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.
The __next__() method also allows you to do operations, and must return the next item in the sequence.
"""

'\nCreate an Iterator\nTo create an object/class as an iterator you have to implement the methods __iter__() and __next__() to your object.\nAs you have learned in the Python Classes/Objects chapter, all classes have a function called __init__(), which allows you to do some initializing when the object is being created.\nThe __iter__() method acts similar, you can do operations (initializing etc.), but must always return the iterator object itself.\nThe __next__() method also allows you to do operations, and must return the next item in the sequence.\n'

In [165]:
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    x = self.a
    self.a += 1
    return x

myclass = MyNumbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

1
2
3
4
5

In [166]:
# to stop after 20 iterations
class MyNumbers:
  def __iter__(self):
    self.a = 1
    return self

  def __next__(self):
    if self.a <= 20:
      x = self.a
      self.a += 1
      return x
    else:
      raise StopIteration

myclass = MyNumbers()
myiter = iter(myclass)

for x in myiter:
  print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# 10. Polymorphism

In [169]:
# The word "polymorphism" means "many forms".
# In programming it refers to methods/functions/operators with the same name that can be executed on many objects or classes
# Example, len() is one such function which can be used on different objects
strn = "banana" # a string
tupl = ("apple", "banana", "cherry")
list1 = [1, 2, 3, 4, 5]
set1 = {True, False, "John", 20, "Grad", "Houston", "TX"}
dict1 = {"name" : "John", "age" : 20}

print(len(strn))
print(len(tupl))
print(len(list1))
print(len(set1))
print(len(dict1))

6
3
5
7
2

In [170]:
# ploymorphism is often used in classes where same method is used for different classes
class Car:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Drive!")

class Boat:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Sail!")

class Plane:
  def __init__(self, brand, model):
    self.brand = brand
    self.model = model

  def move(self):
    print("Fly!")

car1 = Car("Ford", "Mustang")       #Create a Car object
boat1 = Boat("Ibiza", "Touring 20") #Create a Boat object
plane1 = Plane("Boeing", "747")     #Create a Plane object

for x in (car1, boat1, plane1):
  x.move()

Drive!
Sail!
Fly!

# 11. Scope

In [172]:
# A variable created inside the function is called a local variable
# This belongs to the local scope of the function and can only be used inside the function
def func():
    x = 30
    print(x)

func()

30

In [174]:
# local variable is available to use in the function that is defined within the function
def func():
    x = 30
    def newfunc():
        print(x)
    newfunc()

func()

30

In [176]:
# any variable defined in the main body of the program is called the global variable
# and this is available to use within global or local scope
x = 30

def func():
    print(x)

func()

30

In [178]:
# if the same variable name is defined outside and within a function, these are treated as separate variables
x = 200
def func():
    x = 300
    print(x)

func()
print(x)

300
200

In [179]:
# a variable defined within a function can be a global variable by using a global keyword
def func():
    global x
    x = 300

func()
print(x)

300

In [180]:
x = 200
def func():
    global x
    x = 300

func()
print(x)

300

In [181]:
# nonlocal variable is used inside nested functions to make the variable belong to outer function
def func():
    x = "Jane"
    def greet():
        nonlocal x
        x = "Hello"
    greet()
    return x
func()

'Hello'

# 12. Modules

In [185]:
# A modile is a file containing a set of functions that are needed to be included in the application
import mymodule # this module is created and saved as a .py file

mymodule.greeting("John")

Hello  John

In [187]:
import person # this module is saved with some details

x = person.person1["age"]
print(x)

36

In [188]:
import person as pr # alias for the module

x = pr.person1["name"]
print(x)

John

In [189]:
# there are several in-built modules in python
import platform

x = platform.system()
y = dir(platform)
print(x)
print(y)

Windows
['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_java_getprop', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_parse_os_release', '_platform', '_platform_cache', '_sys_version', '_sys_version_cache', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_stages', '_win32_ver', '_wmi', '_wmi_query', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

In [190]:
from test import person1 # from a module only the necessary parts can be imported

print(person1["age"]) # when imported only the necessary part, it is not necessary to use test.person1

36

In [191]:
import test
print(dir(test))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'greeting', 'person1']

# 13. Datetime

In [193]:
# date is not a data type in python. A module named datetime() can be imported to work with dates
import datetime
x = datetime.datetime.now() # to get the exact date and time at the time of execution
print(x)

2025-04-23 18:08:40.621831

In [194]:
import datetime

x = datetime.datetime.now()

print(x.year) # to get the year from a given date
print(x.strftime("%A")) # to get the dayfrom a given date

2025
Wednesday

In [195]:
import datetime

x = datetime.datetime(2009, 12, 2)
print(x)

2009-12-02 00:00:00

In [196]:
# The datetime() class also takes parameters for time and timezone (hour, minute, second, microsecond, tzone), 
# but they are optional, and has a default value of 0, (None for timezone)

In [197]:
import datetime

x = datetime.datetime(2018, 6, 1)
print(x.strftime("%B"))

June

In [198]:
"""
Directive	Description	Example
%a	Weekday, short version	Wed	
%A	Weekday, full version	Wednesday	
%w	Weekday as a number 0-6, 0 is Sunday	3	
%d	Day of month 01-31	31	
%b	Month name, short version	Dec	
%B	Month name, full version	December	
%m	Month as a number 01-12	12	
%y	Year, short version, without century	18	
%Y	Year, full version	2018	
%H	Hour 00-23	17	
%I	Hour 00-12	05	
%p	AM/PM	PM	
%M	Minute 00-59	41	
%S	Second 00-59	08	
%f	Microsecond 000000-999999	548513	
%z	UTC offset	+0100	
%Z	Timezone	CST	
%j	Day number of year 001-366	365	
%U	Week number of year, Sunday as the first day of week, 00-53	52	
%W	Week number of year, Monday as the first day of week, 00-53	52	
%c	Local version of date and time	Mon Dec 31 17:41:00 2018	
%C	Century	20	
%x	Local version of date	12/31/18	
%X	Local version of time	17:41:00	
%%	A % character	%	
%G	ISO 8601 year	2018	
%u	ISO 8601 weekday (1-7)	1	
%V	ISO 8601 weeknumber (01-53)	01"""

'\nDirective\tDescription\tExample\n%a\tWeekday, short version\tWed\t\n%A\tWeekday, full version\tWednesday\t\n%w\tWeekday as a number 0-6, 0 is Sunday\t3\t\n%d\tDay of month 01-31\t31\t\n%b\tMonth name, short version\tDec\t\n%B\tMonth name, full version\tDecember\t\n%m\tMonth as a number 01-12\t12\t\n%y\tYear, short version, without century\t18\t\n%Y\tYear, full version\t2018\t\n%H\tHour 00-23\t17\t\n%I\tHour 00-12\t05\t\n%p\tAM/PM\tPM\t\n%M\tMinute 00-59\t41\t\n%S\tSecond 00-59\t08\t\n%f\tMicrosecond 000000-999999\t548513\t\n%z\tUTC offset\t+0100\t\n%Z\tTimezone\tCST\t\n%j\tDay number of year 001-366\t365\t\n%U\tWeek number of year, Sunday as the first day of week, 00-53\t52\t\n%W\tWeek number of year, Monday as the first day of week, 00-53\t52\t\n%c\tLocal version of date and time\tMon Dec 31 17:41:00 2018\t\n%C\tCentury\t20\t\n%x\tLocal version of date\t12/31/18\t\n%X\tLocal version of time\t17:41:00\t\n%%\tA % character\t%\t\n%G\tISO 8601 year\t2018\t\n%u\tISO 8601 weekday (1-7)\t1\t\n%V\tISO 8601 weeknumber (01-53)\t01'

# 14. Math Functions

In [200]:
x = min(5, 10, 15)
y = max(5, 10, 15)

print(x)
print(y)

5
15

In [201]:
x = abs(-7.25) # abs() function returns the absolute (positive) value of the specified number
print(x)

7.25

In [203]:
x = pow(4, 3) # pow() is the function that returns the value of x to the power of y
print(x)

64

In [206]:
# Python has also a built-in module called math, which extends the list of mathematical functions
import math
x = math.sqrt(64) # sqrt() is the method to find the square root of a number
print(x)

8.0

In [207]:
import math

x = math.ceil(1.4) # ceiling i.e., returns the rounded up number
y = math.floor(1.6) # floor i.e., returns the rounded down number

print(x)
print(y)

2
1

In [208]:
import math
x = math.pi # this returns the value of PI
print(x)

3.141592653589793

# 15. JSON

In [211]:
# JSON is a syntax for storing and exchanging data
# JSON is text, written with JavaScript object notation
# Python has a built-in package called json, which can be used to work with JSON data

In [213]:
import json

In [215]:
# json.load() converts JSON string to python dictionary
import json

x =  '{ "name":"John", "age":30, "city":"New York"}'
y = json.loads(x)

print(y)
print(y["age"])
print(type(x))
print(type(y))

{'name': 'John', 'age': 30, 'city': 'New York'}
30
<class 'str'>
<class 'dict'>

In [216]:
# the other way can be done through json.dumps()
import json

x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

y = json.dumps(x)
print(y)

{"name": "John", "age": 30, "city": "New York"}

In [218]:
# convert python objects into json strings
import json

print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

{"name": "John", "age": 30}
["apple", "bananas"]
["apple", "bananas"]
"hello"
42
31.76
true
false
null

In [219]:
"""
When you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:

Python	JSON
dict	Object
list	Array
tuple	Array
str	    String
int	    Number
float	Number
True	true
False	false
None	null
"""

'\nWhen you convert from Python to JSON, Python objects are converted into the JSON (JavaScript) equivalent:\n\nPython\tJSON\ndict\tObject\nlist\tArray\ntuple\tArray\nstr\t    String\nint\t    Number\nfloat\tNumber\nTrue\ttrue\nFalse\tfalse\nNone\tnull\n'

In [220]:
import json

x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

{"name": "John", "age": 30, "married": true, "divorced": false, "children": ["Ann", "Billy"], "pets": null, "cars": [{"model": "BMW 230", "mpg": 27.5}, {"model": "Ford Edge", "mpg": 24.1}]}

In [221]:
json.dumps(x, indent=4)

'{\n    "name": "John",\n    "age": 30,\n    "married": true,\n    "divorced": false,\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "pets": null,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ]\n}'

In [222]:
json.dumps(x, indent=4, separators=(". ", " = "))

'{\n    "name" = "John". \n    "age" = 30. \n    "married" = true. \n    "divorced" = false. \n    "children" = [\n        "Ann". \n        "Billy"\n    ]. \n    "pets" = null. \n    "cars" = [\n        {\n            "model" = "BMW 230". \n            "mpg" = 27.5\n        }. \n        {\n            "model" = "Ford Edge". \n            "mpg" = 24.1\n        }\n    ]\n}'

In [223]:
json.dumps(x, indent=4, sort_keys=True)

'{\n    "age": 30,\n    "cars": [\n        {\n            "model": "BMW 230",\n            "mpg": 27.5\n        },\n        {\n            "model": "Ford Edge",\n            "mpg": 24.1\n        }\n    ],\n    "children": [\n        "Ann",\n        "Billy"\n    ],\n    "divorced": false,\n    "married": true,\n    "name": "John",\n    "pets": null\n}'

# 16. RegEx

In [225]:
# module "re" is used for regular expressions
import re

txt = "Kids are watching tv!"
x = re.search("I", txt)
if x:
    print("Yes!")
else:
    print("No")

No

In [226]:
import re

txt = "Kids are watching tv"
x = re.search("^Kids.*tv$", txt) # searches to see if the string starts with "Kids" and ends with "tv"
if x:
    print("Yes!")
else:
    print("No")

Yes!

In [227]:
# findall() returns the list with all matches
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [229]:
# to split by whitepace
import re

txt = "Kids are watching tv"
x = re.split("\s", txt)
print(x)

['Kids', 'are', 'watching', 'tv']

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\chand\AppData\Local\Temp\ipykernel_33260\172834219.py:5: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

In [230]:
# maxsplit helps in defining the number of splits
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1) # here the number of splits are 1
print(x)

['The', 'rain in Spain']

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
C:\Users\chand\AppData\Local\Temp\ipykernel_33260\2009626886.py:5: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt, 1) # here the number of splits are 1

In [231]:
# sub() is for substituting
import re

txt = "The rain in Spain"
x = re.sub("ai", "9", txt)
print(x)

The r9n in Sp9n

In [233]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2) # whitespace character is replaced only for the first two instances
print(x)

The9rain9in Spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
C:\Users\chand\AppData\Local\Temp\ipykernel_33260\1326721785.py:4: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt, 2) # whitespace character is replaced only for the first two instances

In [234]:
import re

txt = "Kids are watching tv"
x = re.findall("[a-c]", txt)

print(x)

['a', 'a', 'c']

In [235]:
import re
txt = "Viva has completed 47 pct of course"
x = re.findall("\d", txt)

print(x)

['4', '7']

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
C:\Users\chand\AppData\Local\Temp\ipykernel_33260\1936868513.py:3: SyntaxWarning: invalid escape sequence '\d'
  x = re.findall("\d", txt)

In [236]:
import re
txt = "Kids are still watching tv"
x = re.findall("s...l", txt)
print(x)

['still']

In [237]:
# using finall() all the below tasks can be accomplished using specific characters metioned
"""
char   descp                                                  example
^	   Starts with	                                          "^hello"	
$	   Ends with	                                          "planet$"	
*	   Zero or more occurrences	                              "he.*o"	
+	   One or more occurrences	                              "he.+o"	
?	   Zero or one occurrences	                              "he.?o"	
{}	   Exactly the specified number of occurrences	          "he.{2}o"	
|	   Either or	                                          "falls|stays"	
()	   Capture and group
"""

'\nchar   descp                                                  example\n^\t   Starts with\t                                          "^hello"\t\n$\t   Ends with\t                                          "planet$"\t\n*\t   Zero or more occurrences\t                              "he.*o"\t\n+\t   One or more occurrences\t                              "he.+o"\t\n?\t   Zero or one occurrences\t                              "he.?o"\t\n{}\t   Exactly the specified number of occurrences\t          "he.{2}o"\t\n|\t   Either or\t                                          "falls|stays"\t\n()\t   Capture and group\n'

In [238]:
# match object
import re

txt = "The rain in Spain"
x = re.search("ai", txt) # returns the span if the match is found, else returns None
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [239]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt) # looks for the expression that starts with capital s
print(x.span()) # prints the span - beginning and ending placement of the string

(12, 17)

In [240]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string) # actutal string would be printed, if found

The rain in Spain

In [241]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group()) # prints the part of the string where there was a match, if found

Spain

# 17. PIP

In [246]:
# if python version is 3.4 or later, pip is included by default
!pip install camelcase

Requirement already satisfied: camelcase in c:\users\chand\anaconda3\lib\site-packages (0.2)

In [247]:
import camelcase

c = camelcase.CamelCase()
txt = "hello world"

print(c.hump(txt))

Hello World

In [248]:
# uninstalling also can be done similarly
# !pip uninstall camelcase

In [251]:
# list of packages installed can be listed
!pip list

Package                           Version
--------------------------------- ------------------
aext-assistant                    4.1.0
aext-assistant-server             4.1.0
aext-core                         4.1.0
aext-core-server                  4.1.0
aext-panels                       4.1.0
aext-panels-server                4.1.0
aext-project-filebrowser-server   4.1.0
aext-share-notebook               4.1.0
aext-share-notebook-server        4.1.0
aext-shared                       4.1.0
aext-toolbox                      4.1.0
aiobotocore                       2.12.3
aiohappyeyeballs                  2.4.0
aiohttp                           3.10.5
aioitertools                      0.7.1
aiosignal                         1.2.0
alabaster                         0.7.16
alembic                           1.13.3
altair                            5.0.1
anaconda-anon-usage               0.4.4
anaconda-catalogs                 0.2.0
anaconda-cli-base                 0.4.1
anaconda-client                   1.13.0
anaconda-cloud-auth               0.7.2
anaconda-navigator                2.6.3
anaconda-project                  0.11.1
annotated-types                   0.6.0
anyio                             4.2.0
appdirs                           1.4.4
archspec                          0.2.3
argon2-cffi                       21.3.0
argon2-cffi-bindings              21.2.0
arrow                             1.2.3
astroid                           2.14.2
astropy                           6.1.3
astropy-iers-data                 0.2024.9.2.0.33.23
asttokens                         2.0.5
async-lru                         2.0.4
atomicwrites                      1.4.0
attrs                             23.1.0
Automat                           20.2.0
autopep8                          2.0.4
Babel                             2.11.0
bcrypt                            3.2.0
beautifulsoup4                    4.12.3
binaryornot                       0.4.4
black                             24.8.0
bleach                            4.1.0
blinker                           1.6.2
bokeh                             3.6.0
boltons                           23.0.0
botocore                          1.34.69
Bottleneck                        1.3.7
Brotli                            1.0.9
cachetools                        5.3.3
camelcase                         0.2
certifi                           2025.1.31
cffi                              1.17.1
chardet                           4.0.0
charset-normalizer                3.3.2
click                             8.1.7
cloudpickle                       3.0.0
colorama                          0.4.6
colorcet                          3.1.0
comm                              0.2.1
conda                             24.11.3
conda-build                       24.9.0
conda-content-trust               0.2.0
conda_index                       0.5.0
conda-libmamba-solver             24.9.0
conda-pack                        0.7.1
conda-package-handling            2.3.0
conda_package_streaming           0.10.0
conda-repo-cli                    1.0.114
conda-token                       0.5.0+1.g2209e04
constantly                        23.10.4
contourpy                         1.2.0
cookiecutter                      2.6.0
cowsay                            6.1
cryptography                      43.0.0
cssselect                         1.2.0
cycler                            0.11.0
cytoolz                           0.12.2
dask                              2024.8.2
dask-expr                         1.1.13
datashader                        0.16.3
debugpy                           1.6.7
decorator                         5.1.1
defusedxml                        0.7.1
diff-match-patch                  20200713
dill                              0.3.8
distributed                       2024.8.2
distro                            1.9.0
docstring-to-markdown             0.11
docutils                          0.18.1
et-xmlfile                        1.1.0
executing                         0.8.3
fastjsonschema                    2.16.2
filelock                          3.13.1
flake8                            7.0.0
Flask                             3.0.3
fonttools                         4.51.0
frozendict                        2.4.2
frozenlist                        1.4.0
fsspec                            2024.6.1
gensim                            4.3.3
gitdb                             4.0.7
GitPython                         3.1.43
greenlet                          3.0.1
h11                               0.14.0
h5py                              3.11.0
HeapDict                          1.0.1
holoviews                         1.19.1
httpcore                          1.0.2
httpx                             0.27.0
hvplot                            0.11.0
hyperlink                         21.0.0
idna                              3.7
imagecodecs                       2023.1.23
imageio                           2.33.1
imagesize                         1.4.1
imbalanced-learn                  0.12.3
import-ipynb                      0.2
importlib-metadata                7.0.1
incremental                       22.10.0
inflection                        0.5.1
iniconfig                         1.1.1
intake                            2.0.7
intervaltree                      3.1.0
ipykernel                         6.28.0
ipython                           8.27.0
ipython-genutils                  0.2.0
ipywidgets                        7.8.1
isort                             5.13.2
itemadapter                       0.3.0
itemloaders                       1.1.0
itsdangerous                      2.2.0
jaraco.classes                    3.2.1
jedi                              0.19.1
jellyfish                         1.0.1
Jinja2                            3.1.4
jmespath                          1.0.1
joblib                            1.4.2
json5                             0.9.6
jsonpatch                         1.33
jsonpointer                       2.1
jsonschema                        4.23.0
jsonschema-specifications         2023.7.1
jupyter                           1.0.0
jupyter_client                    8.6.0
jupyter-console                   6.6.3
jupyter_core                      5.7.2
jupyter-events                    0.10.0
jupyter-lsp                       2.2.0
jupyter_server                    2.14.1
jupyter_server_terminals          0.4.4
jupyterlab                        4.2.5
jupyterlab-pygments               0.1.2
jupyterlab_server                 2.27.3
jupyterlab-widgets                1.0.0
keyring                           24.3.1
kiwisolver                        1.4.4
lazy_loader                       0.4
lazy-object-proxy                 1.10.0
lckr_jupyterlab_variableinspector 3.1.0
libarchive-c                      5.1
libmambapy                        1.5.8
linkify-it-py                     2.0.0
llvmlite                          0.43.0
lmdb                              1.4.1
locket                            1.0.0
lxml                              5.2.1
lz4                               4.3.2
Mako                              1.2.3
Markdown                          3.4.1
markdown-it-py                    2.2.0
MarkupSafe                        2.1.3
matplotlib                        3.9.2
matplotlib-inline                 0.1.6
mccabe                            0.7.0
mdit-py-plugins                   0.3.0
mdurl                             0.1.0
menuinst                          2.1.2
mistune                           2.0.4
mkl_fft                           1.3.10
mkl_random                        1.2.7
mkl-service                       2.4.0
more-itertools                    10.3.0
mpmath                            1.3.0
msgpack                           1.0.3
multidict                         6.0.4
multipledispatch                  0.6.0
mypy                              1.11.2
mypy-extensions                   1.0.0
mysql-connector-python            9.2.0
navigator-updater                 0.5.1
nb_conda_kernels                  2.5.2
nbclient                          0.8.0
nbconvert                         7.16.4
nbformat                          5.10.4
nest-asyncio                      1.6.0
networkx                          3.3
nltk                              3.9.1
notebook                          7.2.2
notebook_shim                     0.2.3
numba                             0.60.0
numexpr                           2.8.7
numpy                             1.26.4
numpydoc                          1.7.0
openpyxl                          3.1.5
overrides                         7.4.0
packaging                         24.1
pandas                            2.2.2
pandocfilters                     1.5.0
panel                             1.5.2
param                             2.1.1
paramiko                          2.8.1
parsel                            1.8.1
parso                             0.8.3
partd                             1.4.1
pathspec                          0.10.3
patsy                             0.5.6
pexpect                           4.8.0
pickleshare                       0.7.5
pillow                            10.4.0
pip                               24.2
pkce                              1.0.3
pkginfo                           1.10.0
platformdirs                      3.10.0
plotly                            5.24.1
pluggy                            1.0.0
ply                               3.11
prometheus-client                 0.14.1
prompt-toolkit                    3.0.43
Protego                           0.1.16
protobuf                          4.25.3
psutil                            5.9.0
ptyprocess                        0.7.0
pure-eval                         0.2.2
py-cpuinfo                        9.0.0
pyarrow                           16.1.0
pyasn1                            0.4.8
pyasn1-modules                    0.2.8
pycodestyle                       2.11.1
pycosat                           0.6.6
pycparser                         2.21
pyct                              0.5.0
pycurl                            7.45.3
pydantic                          2.8.2
pydantic_core                     2.20.1
pydantic-settings                 2.6.1
pydeck                            0.8.0
PyDispatcher                      2.0.5
pydocstyle                        6.3.0
pyerfa                            2.0.1.4
pyflakes                          3.2.0
Pygments                          2.15.1
PyJWT                             2.8.0
pylint                            2.16.2
pylint-venv                       3.0.3
pyls-spyder                       0.4.0
PyNaCl                            1.5.0
pyodbc                            5.1.0
pyOpenSSL                         24.2.1
pyparsing                         3.1.2
PyQt5                             5.15.10
PyQt5-sip                         12.13.0
PyQtWebEngine                     5.15.6
PySocks                           1.7.1
pytest                            7.4.4
python-dateutil                   2.9.0.post0
python-dotenv                     0.21.0
python-json-logger                2.0.7
python-lsp-black                  2.0.0
python-lsp-jsonrpc                1.1.2
python-lsp-server                 1.10.0
python-slugify                    5.0.2
pytoolconfig                      1.2.6
pytz                              2024.1
pyviz_comms                       3.0.2
PyWavelets                        1.7.0
pywin32                           305.1
pywin32-ctypes                    0.2.2
pywinpty                          2.0.10
PyYAML                            6.0.1
pyzmq                             25.1.2
QDarkStyle                        3.2.3
qstylizer                         0.2.2
QtAwesome                         1.3.1
qtconsole                         5.5.1
QtPy                              2.4.1
queuelib                          1.6.2
readchar                          4.0.5
referencing                       0.30.2
regex                             2024.9.11
requests                          2.32.3
requests-file                     1.5.1
requests-toolbelt                 1.0.0
rfc3339-validator                 0.1.4
rfc3986-validator                 0.1.1
rich                              13.7.1
rope                              1.12.0
rpds-py                           0.10.6
Rtree                             1.0.1
ruamel.yaml                       0.18.6
ruamel.yaml.clib                  0.2.8
ruamel-yaml-conda                 0.17.21
s3fs                              2024.6.1
scikit-image                      0.24.0
scikit-learn                      1.5.1
scipy                             1.13.1
Scrapy                            2.11.1
seaborn                           0.13.2
semver                            3.0.2
Send2Trash                        1.8.2
sentry-sdk                        2.18.0
service-identity                  18.1.0
setuptools                        75.1.0
shellingham                       1.5.0
sip                               6.7.12
six                               1.16.0
smart-open                        5.2.1
smmap                             4.0.0
sniffio                           1.3.0
snowballstemmer                   2.2.0
sortedcontainers                  2.4.0
soupsieve                         2.5
Sphinx                            7.3.7
sphinxcontrib-applehelp           1.0.2
sphinxcontrib-devhelp             1.0.2
sphinxcontrib-htmlhelp            2.0.0
sphinxcontrib-jsmath              1.0.1
sphinxcontrib-qthelp              1.0.3
sphinxcontrib-serializinghtml     1.1.10
spyder                            5.5.1
spyder-kernels                    2.5.0
SQLAlchemy                        2.0.34
stack-data                        0.2.0
statsmodels                       0.14.2
streamlit                         1.37.1
sympy                             1.13.2
tables                            3.10.1
tabulate                          0.9.0
tblib                             1.7.0
tenacity                          8.2.3
terminado                         0.17.1
text-unidecode                    1.3
textdistance                      4.2.1
threadpoolctl                     3.5.0
three-merge                       0.1.1
tifffile                          2023.4.12
tinycss2                          1.2.1
tldextract                        5.1.2
toml                              0.10.2
tomli                             2.0.1
tomlkit                           0.11.1
toolz                             0.12.0
tornado                           6.4.1
tqdm                              4.66.5
traitlets                         5.14.3
truststore                        0.8.0
Twisted                           23.10.0
twisted-iocpsupport               1.0.2
typer                             0.9.0
typing_extensions                 4.11.0
tzdata                            2023.3
uc-micro-py                       1.0.1
ujson                             5.10.0
unicodedata2                      15.1.0
Unidecode                         1.3.8
urllib3                           2.2.3
w3lib                             2.1.2
watchdog                          4.0.1
wcwidth                           0.2.5
webencodings                      0.5.1
websocket-client                  1.8.0
Werkzeug                          3.0.3
whatthepatch                      1.0.2
wheel                             0.44.0
widgetsnbextension                3.6.6
win-inet-pton                     1.1.0
wrapt                             1.14.1
xarray                            2023.6.0
xlwings                           0.32.1
xyzservices                       2022.9.0
yapf                              0.40.2
yarl                              1.11.0
zict                              3.0.0
zipp                              3.17.0
zope.interface                    5.4.0
zstandard                         0.23.0

# 18. Try...Except

In [253]:
# there could be four parts of try...except
# "try" block tests a code of block for error
# "except" block handles the error
# "else" block executes when there is an error
# "finally" block executes irrespective of the result from try and except
try:
    print(xy)
except:
    print("An exception occured!")

# since there is no "xy" variable defined, an error occurs and this will cause "except" block execution

An exception occured!

In [254]:
# multiple except block can be added in one code
try:
    print(xy)
except NameError:
    print("Variable xy is not defined")
except:
    print("Something else is wrong")

Variable xy is not defined

In [255]:
try:
    print("Hello")
except:
    print("Somthing went wrong!")
else:
    print("Nothing went wrong!")

Hello
Nothing went wrong!

In [256]:
try:
    print(xy)
except:
    print("Something went wrong!")
finally:
    print("The 'try...except' is finished")

Something went wrong!
The 'try...except' is finished

In [257]:
try:
    f = open("C:/Users/chand/OneDrive/Desktop/Visali_Certifications/Things_to_learn.txt")
    try:
        f.write("GitHub")
    except:
        print("Something went wrong while writing to the file")
    finally:
        f.close()
except:
    print("Something went wrong while opening the file")

Something went wrong while writing to the file

In [258]:
try:
    f = open("C:/Users/chand/OneDrive/Desktop/Visali/test.txt")
    try:
        f.write("learning try...except")
    except:
        print("There is no such file!")
    finally:
        f.close()
except:
    print("Something went wrong while opening the file")

Something went wrong while opening the file

In [259]:
# raise an exception
x = -2

if x < 0:
    raise Exception("Sorry, the number is below zero")

Exception: Sorry, the number is below zero

In [260]:
x = "Hello"

if not type(x) is int:
    raise TypeError("Only Integers are allowed")

TypeError: Only Integers are allowed

# 19. User Input

In [265]:
# input() method is used to seek input from the user
username = input("Enter user name: ")
print("Hello, " + username)

Enter user name:  Viva

Hello, Viva

# 20. String Formatting

In [268]:
# f-string is used to format the strings
txt = f"The price is 49 dollars"
print(txt)

The price is 49 dollars

In [270]:
price = 59
txt = f"The price is {price} dollars" # variable within square brackets {} will be read from the definition
print(txt)

The price is 59 dollars

In [272]:
price = 59
txt = f"The price is {price:.2f} dollars" # to format the output in float format with two decimal points
print(txt)

The price is 59.00 dollars

In [274]:
txt = f"The price is {95:.2f} dollars"
print(txt)

The price is 95.00 dollars

In [276]:
# f-strings allow math operations
txt = f"Total price is {20 * 6} dollars"
print(txt)

Total price is 120 dollars

In [278]:
price = 59
tax = 0.25
print(f"Total price is {price + (price * tax)} dollars ")

Total price is 73.75 dollars

In [280]:
# if else can be within the f-string
price = 50

txt = f"Tax is {(0.25 * price) if price >= 50 else (0.15 * price)}"
print(txt)

Tax is 12.5

In [282]:
# functions can be executed within f-strings
fruit = "apple"

print(f"I love {fruit.upper()}")

I love APPLE

In [284]:
# a function can be called within f string
def converter(x):
    return x *  2.2

print(f"1 kg is {converter(1)} pounds")

1 kg is 2.2 pounds

In [286]:
price = 59000
txt = f"The price is {price:,} dollars" # formatting to include commas
print(txt)

The price is 59,000 dollars

In [288]:
# a placeholder can be added
price = 49
txt = "The price is {} dollars"
print(txt.format(price))

The price is 49 dollars

In [290]:
# multiple placeholders can be added
quantity = 3
itemno = 567
price = 49
myorder = "I want {} pieces of item number {} for {:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [292]:
# index numbers can be used within the placeholders
quantity = 3
itemno = 567
price = 49
myorder = "I want {0} pieces of item number {1} for {2:.2f} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item number 567 for 49.00 dollars.

In [294]:
age = 36
name = "John"
txt = "His name is {1}. {1} is {0} years old."
print(txt.format(age, name))

His name is John. John is 36 years old.

In [296]:
# names indexes could also be used
myorder = "I have a {carname}, it is a {model}."
print(myorder.format(carname = "Ford", model = "Mustang"))

I have a Ford, it is a Mustang.